.wrapper {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#close {
  z-index: 999;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
}

#nav-content {
  margin-left: 10px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 998;
}

.overlay {
  display: block;
  position: absolute;

  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 997;
  opacity: 1;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
/* .overlay.active {
  display: block;
  opacity: 1;
} */

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}
